term0.uriscv
build/
.vscode
/.vscode/

/build/
/compile_commands.json
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/CTestTestfile.cmake

/uriscv/
/uriscv_support_files/
/uriscv_headers/

local_config.cmake

